body {
    overflow-y: scroll;
}

.h2_atividade {
    display: inline-block; 
    margin-left: 0; 
    padding-left: 0; 
    position: relative;
    text-align: left;
    width: auto; /* Deixe o width automático para se ajustar ao conteúdo */
    box-sizing: border-box; 
    margin-bottom: 10px; /* Espaço para separar do botão */
    margin-right: 75%;
}
  
/* sublinhado que ultrapassa a palavra */
.h2_atividade::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 250%; /* Ajusta o sublinhado para passar um pouco mais à frente */
    height: 2px;
    background-color: black;
}

/* Ajuste para título e botão na mesma linha */
.titulo-atividades {
    display: flex;
    flex-direction: column; /* Garantir que o título fique acima do botão */
    justify-content: flex-start;
    align-items: flex-start;
}

/* Botão "Nova Atividade" */
.nova-atividade {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Espaço entre o título e o botão */
}

/* Estilização das atividades */
.atividade {
  display: flex;
  background: #f3f9ff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 15px;
  border-radius: 30px;
  margin: 10px auto 0; 
  width: 80%; 
  justify-content: space-between;
}

/* Alinhamento do título das atividades à esquerda */
.atividade h3 {
    text-align: left;
}

/* Estilização específica para atividades gerais */
.atividade-geral {
    background: #2c3e50;
    color: white;
}

/* Botão "Participar" */
.participar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Ajuste para alinhar "Responsáveis -" e os ícones */
.responsaveis {
    display: flex;
}

.responsaveis-texto {
    margin-right: 10px;
}

@media (max-width: 600px) {
  .responsaveis {
    flex-direction: column;
    align-items: center;
  }
  
  .responsaveis .MuiTypography-root {
    margin-bottom: 8px;
  }
}
